<header class="onpe">
  <nav class="header-nav">
    <img
      class="logo"
      src="../../../../../assets/logo-onpe.svg"
      alt="Logo de la ONPE - Elecciones Generales"
    />
    <div class="user-area">
      <div class="user-info">
        <h4>José Pérez</h4>
        <button class="user-button">Cerrar sesión</button>
      </div>
      <div class="user-icon">
        <!-- Aquí debería ir un ícono de usuario o una imagen -->
        <span
          class="material-symbols-rounded"
          translate="no"
          aria-hidden="true"
        >
          account_circle
        </span>
      </div>
    </div>
  </nav>

  <section class="visitor-section">
    <h3 class="visitor-title">Visitante</h3>
  </section>
</header>
<br />



<div class="onpe contenedor-upload">
  <div class="caja-upload">
    <div class="icono-upload">
      <span class="material-symbols-outlined"> upload_file </span>
    </div>
    <p class="texto-upload">Adjuntar archivo</p>
    <p class="peso-maximo">JPG, PNG o PDF, peso máximo 5 mb</p>

    <button class="boton-adjuntar">Subir documento</button>
  </div>

  <div class="caja-upload">
    <div class="icono-upload">
      <span class="material-symbols-outlined"> upload_file </span>
    </div>
    <p class="texto-upload">Adjuntar archivo</p>

    <p class="peso-maximo error">Archivo no compatible</p>

    <button class="boton-adjuntar error">Subir documento</button>
  </div>

  <div class="contenedor-archivo">
    <div class="detalle-archivo">
      <span class="icono-archivo material-symbols-outlined"> upload_file </span>
      <span class="nombre-archivo">archivo.pdf</span>
      <span class="peso-archivo">35 kb</span>
      <div class="botones-archivo">
        <button class="boton-descargar">
          <span class="material-symbols-outlined"> edit </span>
        </button>
        <button class="boton-eliminar">
          <span class="material-symbols-outlined"> delete </span>
        </button>
      </div>
    </div>
  </div>

  <div class="contenedor-archivo error">
    <div class="detalle-archivo">
      <span class="icono-archivo error material-symbols-outlined">
        warning
      </span>
      <span class="nombre-archivo error">Archivo no compatible</span>
      <button class="boton-eliminar">
        <span class="material-symbols-outlined"> delete </span>
      </button>
    </div>
  </div>
</div>





<div class="onpe contenedor-modal">
  <div class="modal">
    <div class="cabecera-modal">
      <span
        class="material-symbols-rounded icono-advertencia"
        translate="no"
        aria-hidden="true"
      >
        warning
      </span>
      <h4 class="titulo-modal">Restablecer contraseña</h4>
    </div>

    <div class="modal-sin-fondo">
      <p class="mensaje">
        Al aceptar, restablecerá la contraseña para el usuario
      </p>
      <strong class="nombre-usuario"> visitante1 </strong>
    </div>
    <div class="pie-modal">
      <button class="boton-cancelar">Cancelar</button>
      <button class="boton-continuar">Continuar</button>
    </div>
  </div>
</div>

<div class="onpe contenedor-modal">
  <div class="modal">
    <div class="cabecera-modal">
      <span
        class="material-symbols-rounded icono-advertencia"
        translate="no"
        aria-hidden="true"
      >
        check_circle
      </span>
      <h4 class="titulo-modal">Periodo de registro establecido</h4>
    </div>
    <div class="contenido-modal">
      <div class="modal-fondo">
        <ul class="fechas">
          <li>Inicio: 01 de Marzo de 2026</li>
          <li>Fin: 01 de Abril de 2026</li>
        </ul>
      </div>
    </div>
    <div class="pie-modal">
      <button class="boton-cancelar">Cancelar</button>
      <button class="boton-continuar">Continuar</button>
    </div>
  </div>
</div>

<div class="onpe contenedor-modal">
  <div class="modal">
    <div class="cabecera-modal">
      <span
        class="material-symbols-rounded icono-advertencia"
        translate="no"
        aria-hidden="true"
      >
        check_circle
      </span>
      <h4 class="titulo-modal">Periodo de registro establecido</h4>
    </div>
    <div class="contenido-modal">
      <div class="modal-sin-fondo">
        <p class="mensaje">
          Has establecido el periodo de registro en <br />
          las siguientes fechas:
        </p>
        <div class="separador-mt12"></div>
        <ul class="fechas">
          <li>Inicio: 01 de Marzo de 2026</li>
          <li>Fin: 01 de Abril de 2026</li>
        </ul>
      </div>
    </div>
    <div class="pie-modal">
      <button class="boton-cancelar">Cancelar</button>
      <button class="boton-continuar">Continuar</button>
    </div>
  </div>
</div>

<div class="onpe contenedor-cargador">
  <div class="icono-cargador"></div>
  <div class="texto-cargador">Cargando...</div>
</div>

<div class="onpe contenedor-pdf-viewer">
  <div class="encabezado">
    <div class="contenido-encabezado">sssss</div>
  </div>
  <div class="contenedor-iconos">
    <span class="material-symbols-outlined icono icono-reply"> reply </span>

    <span class="material-symbols-outlined icono icono-print"> print </span>

    <span class="material-symbols-outlined icono icono-download">
      download
    </span>
  </div>

  <div class="contenido-pdf-viewer">ddfd</div>
</div>


<footer class="custom-footer">
  <div class="footer-container">

      <div class="footer-section">
        agregar el select
      </div>
  </div>
</footer>
