.onpe {
  --colorPrimary: #0073cf;
  --colorPrimary2: #e3002b;
  --colorSecondary: #f2f2f2;
  --colorSecondary2: #003770;
  --colorGris: #e0e0e0;
  --colorGris2: #828282;
  --verde: #76bd43;
  --celeste: #69b2e8;
  --gris: #d9d9d9;
  --gris2: #bdbdbd;
  --gris3:#4F4F4F;
}
/* Estilos subir archivo */
.contenedor-upload {

  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.titulo-upload {
  color: #000000;
  margin-bottom: 20px;
}
.icono-archivo{
  color: var(--gris2);
}
.caja-upload {
  border: 2px dashed #cccccc;
  padding: 20px;

}

.icono-upload {
  margin-bottom: 10px;
}

.icono-upload span {
 color: var(--colorPrimary);
}

.texto-upload {
  color: var(--gris3);
  margin-bottom: 5px;
}

.peso-maximo {
  color: var(--gris2);
  font-size: 12px;
  margin-bottom: 20px;
}
.nombre-error {
  color: var(--colorPrimary2);
  font-size: 12px;
  margin-bottom: 20px;
}
.peso-maximo.error{
  color: var(--colorPrimary2);
}
.boton-adjuntar {
  background-color: var(--colorPrimary);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
  font-size: 16px;
}
.boton-adjuntar.error {
  background-color: var(--colorPrimary2);

}
.boton-adjuntar:hover {
  transform: scale(1.05);
}


/* Estilos generales */
.contenedor-archivo {

  border: 1px solid #cccccc;
  padding: 10px;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contenedor-archivo.error {
  border: 1px solid var(--colorPrimary2);
}
.icono-archivo.error{
  color: var(--colorPrimary2);
}

.detalle-archivo {
  display: flex;
  align-items: center;
  gap: 10px;

}
.botones-archivo{

  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.icono-pdf,
.icono-editar,
.icono-eliminar {
  width: 20px;
  height: auto;
}

.nombre-archivo {
  color: var(--gris3);
  margin-right: auto;
  font-size: 14px;
}
.nombre-archivo.error {
color: var(--colorPrimary2);
}
.peso-archivo {
  color: #666666;
  font-size: 0.8rem;
}

.boton-descargar,
.boton-eliminar {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.boton-descargar span{
  color: var(--colorPrimary);
}



.boton-eliminar span {
 color: var(--colorPrimary2);
}












/* cabecera */
.onpe .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 12px;
}
.logo {
  width: 65%;
  margin-top: 40px;
  margin-bottom: 2.5rem;
}
.user-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  order: 2;
  text-align: center;
}
.user-info h4{
  text-align: center;
  font-size: 14px;
}
.boton-cancelar{

  order: 2;
}
.boton-continuar{
  order: 1;
}
.user-button {
  padding: 0;
  background-color: transparent;
  color: #bdbdbd;
  font-size: 12px;
  font-weight: 500;
  line-height: 1rem;
  text-align: center;
}
.user-icon span {
  font-size: 1.875rem;
  order: 1;
  color: #003770;
}

@media (min-width: 640px) {
  .logo {
    width: 413px;
  }


}
@media (min-width: 1024px) {
  .modal-fondo{

    padding: 18px 35px ;
  }
  .modal-sin-fondo{

    padding: 18px 35x ;
  }

  .boton-cancelar{

    order: 1;
  }
  .boton-continuar{
    order: 2;
  }
  .pie-modal {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 32px;
    text-align: center;
    flex-direction: row!important;
  }
  .header-nav {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  .logo {
    width: 413px;
  }
  .user-area {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }
  .user-info {
    order: 1;

  }
  .user-info h4{

    font-size: 16px;
  }
  .user-icon {
    order: 2;
  }
  .user-icon span {
    font-size: 3rem;
    color: #003770;
  }


}
.user-icon {
  order: 1;
}

.visitor-section {
  background-color: #0073cf;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visitor-title {
  color: white;
  font-size: 1.25rem;
  line-height: 50px;
  font-weight: 600;
}

/* modal */
.onpe.contenedor-modal {
  display: flex;
  justify-content: center;

}
.modal-fondo{
  background-color: rgba(100, 150, 200, 0.25);
  padding: 8px 16px ;
}
.modal-sin-fondo{

  padding: 8px 16px ;
}




.mensaje {
font-size: 18px;
text-align: center;

}
.separador-mt12{
  margin-top: 12px;
}
.pie-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
  text-align: center;
  flex-direction: column;
}
.modal {

  padding: 24px;

}
.cabecera-modal {
  text-align: center;
}
.icono-advertencia {
  font-size: 64px;
  color: var(--colorPrimary);
}
.titulo-modal {
  color: var(--colorPrimary);
  font-size: 1.5rem;
  line-height: 36px;
  font-weight: 500;
  margin-top: 26px;
}
.contenido-modal {
  text-align: center;
  margin-top: 24px;
}

.nombre-usuario {
  display: block;
  font-size: 1.125rem;
  text-align: center;
}
.fechas{
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  font-size: 18px;
  margin: 0;
}
.boton-cancelar,
.boton-continuar {
  height: 48px;
  width: 200px;
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 28px;
  transition: transform 300ms ease-in-out;
}
.boton-cancelar {
  background-color: var(--colorPrimary);
}
.boton-continuar {
  background-color: var(--colorPrimary2);
}
.boton-cancelar:hover,
.boton-continuar:hover {
  transform: scale(1.05);
}

/* loading */
.onpe.contenedor-cargador {
  background-color: var(--colorPrimary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icono-cargador {
  width: 4rem;
  height: 4rem;
  border: 4px solid white;
  border-style: solid;
  border-radius: 9999px;
  animation: spin 1s linear infinite;
  border-top-color: transparent;
}
.texto-cargador {
  color: white;
  margin-top: 0.5rem;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* previsualizador pdf */
.onpe.contenedor-pdf-viewer {
  height: 100vh;
  position: relative;
}
.encabezado {
  width: 100%;
  text-align: center;
  background-color: var(--gris3);
  color: var(--colorSecondary);
  height: 80px;
  display: flex;
}
.contenido-encabezado {
  margin: auto;
}
.icono {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;

  color: var(--colorSecondary2);
  background-color: white;
  padding: 0.75rem;
  border-radius: 9999px;
  left: 12px;
  cursor: pointer;
  z-index: 50;
}
.contenedor-iconos{
  display: inline-flex; flex-direction: column;  align-items: center; position: absolute;gap: 20px;margin-top: 40px;
}

.contenido-pdf-viewer {
  background-color: var(--colorGris2);
  width: 100%;
  height: calc(100% - 80px);
}

.onpe button {
  border: 0;
  cursor: pointer;
}

.onpe {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
}

.onpe body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

.onpe h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.onpe blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}


.custom-footer {
  background-color: #003770;
  color: white;
}

.footer-container {
  max-width: 1280px;

  margin: auto;
  padding: 24px;
  display: flex;
  justify-content: end;

  gap: 4px;

}

